<div>
  <div>
    Combine with: <input id="swal-combine-with"/>
  </div>
  <br/>
  <div>
    Output ID: <input id="swal-output"/>
  </div>
  <br/>
  <div>
    Operator: <select id="swal-select" onchange="
        (function() { 
            if ($('#swal-select').val() === 'AND' || $('#swal-select').val() === 'Merge') {
                $('#br-tolerance-d').show();
                $('#swal-tolerance-d').show();
            } else {
                $('#br-tolerance-d').hide();
                $('#swal-tolerance-d').hide();
            }
            if ($('#swal-select').val() === 'Repeat') {
                $('#br-cardinality-d').show();
                $('#swal-cardinality-d').show();
            } else {
                $('#br-cardinality-d').hide();
                $('#swal-cardinality-d').hide();
            }
            if ($('#swal-select').val() === 'AND') {
                $('#br-complete-d').show();
                $('#swal-complete-d').show();
            } else {
                $('#br-complete-d').hide();
                $('#swal-complete-d').hide();
            } 
            if ($('#swal-select').val() === 'OR') {
                $('#br-closed-or-d').show();
                $('#swal-closed-or-d').show();
            } else {
                $('#br-closed-or-d').hide();
                $('#swal-closed-or-d').hide();
            }
            if ($('#swal-select').val() === 'AND' || $('#swal-select').val() === 'Merge') {
                $('#br-closed-product-d').show();
                $('#swal-closed-product-d').show();
            } else {
                $('#br-closed-product-d').hide();
                $('#swal-closed-product-d').hide();
            }
        })();">
      <option selected value="Join">Join</option>
      <option value="OR">OR</option>
      <option value="Repeat">Repeat</option>
      <option value="AND">AND</option>
      <option value="Merge">Merge</option>
    </select>
  </div>
  <br/ id="br-tolerance-d" style="display: none;">
  <div id="swal-tolerance-d" style="display: none;">
    Tolerance: <select id="swal-tolerance">
      <option selected value=0>0</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
    </select>
  </div>
  <br/ id="br-cardinality-d" style="display: none;">
  <div id="swal-cardinality-d" style="display: none;">
    Cardinality: <select id="swal-cardinality">
      <option selected value=false>one-or-more</option>
      <option value=true>zero-or-more</option>
    </select>
  </div>
  <br/ id="br-complete-d" style="display: none;">
  <div id="swal-complete-d" style="display: none;">
    Complete Matches Only: <select id="swal-complete">
      <option selected value=true>true</option>
      <option value=false>false</option>
    </select>
  </div>
  <br/ id="br-closed-product-d" style="display: none;">
  <div id="swal-closed-product-d" style="display: none;">
    Closed: <select id="swal-closed-product">
      <option selected value=false>false</option>
      <option value=true>true</option>
    </select>
  </div>
  <br/ id="br-closed-or-d" style="display: none;">
  <div id="swal-closed-or-d" style="display: none;">
    Closed: <select id="swal-closed-or">
      <option selected value=true>true</option>
      <option value=false>false</option>
    </select>
  </div>
</div>


