<!--HTML layout for deleting a commit, branch, or design space-->

<div>
    <div>
        <label>Select the type history you want to delete</label>
        <br>
        <input type="radio" name="delete-history" value="Design"> Design
        <br>
        <input type="radio" name="delete-history" value="Branch"> Branch
        <br>
        <input type="radio" name="delete-history" value="Reset"> Reset Commit
        <br>
        <input type="radio" name="delete-history" value="Revert"> Revert Commit

    </div>
    <br/>
</div>



